.popup-card {
  width: 200px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right: 20px;
  flex-direction: column;
  padding: 20px;
  .name {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    text-align: left;
    margin-top: -7px;
  }

  .headline {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-top: -15px;
  }

  .popup-option {
    cursor: pointer;
  }
}
