.common-btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: #343434;
  border: none;
  color: white;
  border-radius: 30px;
  font-family: system-ui;
  font-weight: 600;
  font-size: 14px;
  margin: 7px 0;
}

.common-btn:hover {
  background-color: #65874a;
  border: none;
  color: white;
}
