body {
  margin: 0;
  padding: 0;
  height: 200px;
}
.block-positioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrapper {
  background-color: white !important;
  width: 650px;
  min-height: 500px;
  margin: 120px 250px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-family: Inter;
    font-weight: 700;
    color: #343434;
    margin-right: 440px;
    font-size: 35px;
  }

  .heading-register {
    font-family: Inter;
    font-weight: 500;
    font-size: 25px;
    color: white;
    margin-left: 67px;
    margin-right: 50px;

    .name-color {
      color: #8ab267;
    }
  }

  .sub-heading {
    margin-top: -10px;
    font-family: system-ui;
    margin-right: 150px;
    font-size: 20px;
    color: #575757;
  }

  .login-btn {
    width: 350px;
    height: 70px;
    cursor: pointer;
    background-color: #65874a;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .login-btn:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid #a1a1a1;
    color: #808080;
  }

  .auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;

    .common-input {
      height: 30px;
      padding: 20px;
      background-color: white;
      outline: none;
      border: 1px solid #a1a1a1;
      color: #808080;
      border-radius: 5px;
      font-size: 26px;
      margin: 8px 0px;
    }
    .common-input:focus {
      outline: 2px solid white;
    }

    .common-input:hover {
      outline: 2px solid white;
    }

    ::placeholder {
      font-family: system-ui;
      font-size: 26px;
      color: #808080;
    }
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #343434;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    &:before {
      content: "";
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: #a1a1a1;
      position: absolute;
      left: 50%;
      top: 50%;
      width: calc(100% - 16%);
      height: 0.2px;
      transform: translate(-50%, -50%);
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      padding: 0 0.5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #a1a1a1;
      background-color: white;
    }
  }

  .google-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #575757;
    margin-top: 20px;

    .google-btn {
      width: 300px !important;
    }

    .join-now {
      color: #8ab267;
      font-family: Inter;
      font-weight: 500;
      cursor: pointer;
    }

    .go-to-signup {
      margin-top: 30px;
      margin-left: 11px;
      font-size: 14px;
    }
  }

  .join-now:hover {
    text-decoration: underline;
    font-weight: 800;
  }
}

.promotion-header {
  background-color: rgb(255, 255, 255) !important;
  width: 100%;
  min-height: 50px;
  display: flex;
  gap: 20px;
  color: #343434;
  font-family: Inter;

  .nutriquest-name {
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 1px;
  }

  .nutriquestLogo {
    width: 70px;
    height: 70px;

    margin: 7px 0px 7px 20px;
  }
}
