body{
    margin: 0;
    padding: 0;
}

.login-wrapper {
    background-color: #8AB267 !important;
    height: 100vh;
    .login-wrapper-inner{
        margin-left:200px;
    }

    .heading {
        font-family: system-ui;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);

    }

    .sub-heading{
        margin-top: -20px;
        font-family: system-ui;

    }
}

.login-btn {
    width: 350px; 
    height: 30px;
    cursor: pointer;
    background-color: #65874A;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
    font-size: 16px;

}
//Brown 4C2F1B
.login-btn:hover {
    background-color: white;
    color: #343434;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;

    .common-input {
        height: 30px;
        padding: 10px;
        background-color: #8AB267;
        outline: none;
        border: 1px solid #65874A;
        color: #212121;
        border-radius: 5px;
        font-size: 16px;
    }
    .common-input:focus {
        outline: 2px solid white;
    
    }
    ::placeholder {
        font-family: system-ui;
        font-size: 16px;
        color:#212121bd
    }
}

.nutriquestLogo{
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
}

