.posts-card {
  width: 700px;
  min-height: auto;
  background-color: #343434;
  margin-top: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .post-image-wrapper {
    display: flex;
    padding: 15px;
    gap: 15px;
    position: relative;
  }

  .post-image {
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
  }

  .name {
    font-family: system-ui;
    font-size: 18px;
    color: #8ab267;
    font-weight: 600;
    margin: 0px 0 0 0px;
    cursor: pointer;
  }

  .name:hover {
    text-decoration: underline;
    color: white;
  }

  .timestamp {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    color: #c0c0c0;
    font-weight: 400;
    margin: 0px 0 0 0px;
  }

  .status {
    margin: 10px 0 0 10px;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
}

.action-container {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  top: 10px;

  .action-icon {
    color: #8ab267;
    padding: 10px;
  }

  .action-icon:hover {
    color: white;
    background-color: #424242;
    padding: 10px;
    border-radius: 50%;
  }
}
