.topbar-main {
  width: 100%;
  height: 55px;
  background-color: #343434;
  display: flex;
  align-items: center;
}

.nutriquest-Logo {
  width: 48px;
  margin-left: 15px;
}

.userGrey {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.react-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%; //make larger as more items added to bar
  margin-left: 30px;
}

.react-icon {
  cursor: pointer;
  color: #9e9e9e;
}

.react-icon:hover {
  color: white;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 45px;
  z-index: 99;
}

.search-results {
  position: absolute;
  left: 79px;
  top: 50px;
  width: 380px;
  height: auto;
  background-color: #343434;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-inner {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  color: white;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .name {
    font-family: system-ui;
    color: #8ab267;
    font-size: 18px;
  }
}
.search-inner:hover {
  background-color: #464646;
  cursor: pointer;
  border-radius: 10px;
}
