
.modal-input {
    border: none;
    background-color: white;
    outline: none;
    color: black;
    font-size: 15px;
    font-family: system-ui;
    width: 100%;
}

.model-main .ant-modal-content {
    background-color: #343434;
}