.profile-card {
  width: auto;
  height: auto;
  background-color: #343434;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;

  .profile-info {
    display: flex;
    justify-content: space-between;

    .right-info {
      margin-top: 25px;
      margin-right: 20px;
      .college,
      .company {
        font-family: system-ui;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }

      .company {
        margin-top: -15px;
      }
    }
  }

  .save-container {
    display: flex;
    justify-content: center;
  }
  .save-btn {
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-color: #5e5e5e;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: white;
    font-size: 16px;
    margin-top: 20px;
  }
  .save-btn:hover {
    background-color: white;
    color: black;
  }

  .edit-btn {
    position: absolute;
    right: 20px;

    .edit-icon {
      color: white;
      cursor: pointer;
      width: 20px;
      height: 20px;
      padding: 8px;
    }

    .edit-icon:hover {
      background-color: #505050;
      cursor: pointer;
      padding: 8px;
      border-radius: 50px;
    }

    button:hover {
      background-color: white;
      color: black;
    }
  }
  .userName {
    font-family: system-ui;
    color: #8ab267;
    font-size: 24px;
    font-weight: 600;
  }

  .userHeadline {
    color: white;
    font-family: system-ui;
    font-size: 16px;
    margin-top: -25px;
    width: 320px;
    line-height: 20px;
  }

  .location {
    color: #c0c0c0;
  }
}
