.post-status-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .post-status {
    width: 700px;
    height: 120px;
    background-color: #343434;
    margin-top: 30px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    .open-post-modal {
      width: 80%;
      border-radius: 30px;
      background-color: #343434;
      outline: 3px solid #808080;
      height: 40px;
      text-align: left;
      color: #808080;
      font-weight: 600;
      border: none;
      cursor: pointer;
      padding: 11px;
      font-family: system-ui;
      font-size: 14px;
    }

    .open-post-modal:hover {
      background-color: #474747;
      outline: 3px solid white;
      color: white;
    }
  }
}
