@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./components/common/common.scss");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #212121;
  background-color: #8ab267 !important;
}

.common-textArea {
  padding: 10px;
  width: 600px;
  background-color: #343434;
  outline: none;
  border: 1px solid #5e5e5e;
  color: #c0c0c0;
  border-radius: 5px;
  font-size: 16px;
  margin: -8px 0px;
  font-family: system-ui;
}
.common-textArea:hover {
  border: 1px solid white;
  background-color: #474747;
}

.common-textArea:focus {
  border: 1px solid white;
}
