.profile-edit-inputs {
  display: grid;
  margin-top: 40px;
  gap: 20px;

  .edit-input {
    height: 30px;
    padding: 10px;
    background-color: #343434;
    outline: none;
    border: 1px solid #5e5e5e;
    color: #c0c0c0;
    border-radius: 5px;
    font-size: 16px;
    margin: 8px 0px;
  }
}
