.profile-edit-inputs {
  label {
    width: 620px;
    color: #c0c0c0;
    font-size: 16px;
    font-family: system-ui;
    margin-bottom: -10px;
  }

  margin-top: 40px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .edit-input {
    height: 30px;
    padding: 10px;
    width: 600px;
    background-color: #343434;
    outline: none;
    border: 1px solid #5e5e5e;
    color: #c0c0c0;
    border-radius: 5px;
    font-size: 16px;
    margin: -8px 0px;
    font-family: system-ui;
  }

  .edit-input:hover {
    border: 1px solid white;
    background-color: #474747;
  }

  .edit-input:focus {
    border: 1px solid white;
  }
}

.close-icon {
  color: #a3a3a3;
  cursor: pointer;
  padding: 8px;
}

.close-icon:hover {
  background-color: #424242;
  cursor: pointer;
  padding: 8px;
  border-radius: 50px;
}
